<html>
<head>
	<title>Alpha Blog - Home</title>
</head>
<body>
<!-- 	<div class="main-image center">
	  <h1>Welcome to Alpha Blog!</h1>
	  <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-lg" %>
	</div> -->
	<div class="center jumbotron">
	  <h1 id="header-title">Welcome to Alpha Blog!</h1>
	  <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-lg" %>
	</div>
</body>
</html>